.drawing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2vh;
}

.description a:link {
  color: #2c9fa3;
  text-decoration: none;
}

.drawing h2 {
  font-family: Poppins-Regular;
}

.drawing figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.drawing figcaption {
  font-family: Poppins-Regular;
}

.drawing img {
  width: 25vw;
  margin-top: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.ctaButtons {
  width: 25vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
  padding-bottom: 2.5vw;
  border-bottom: 1px solid black;
}

.ctaButton {
  width: 8vw;
  height: 2.5vw;
  font-family: Poppins-Regular;
  font-size: 1rem;
  color: white;
  background-color: #3885fc;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  text-decoration: none;
}

.ctaButton :visited {
  color: white;
}

@media (max-width: 600px) {
  .coloringPage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .drawing figcaption {
    font-size: 1.2rem;
  }
  .drawing img {
    width: 95vw;
  }
  .ctaButtons {
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
  }

  .ctaButton {
    width: 25vw;
    height: 10vw;
  }
}
