.coloringPage {
  width: 90vw;
  background-color: rgb(255, 255, 255);
}

.currentPageLabel h1 {
  width: 90vw;
  text-align: center;
}
.content-wrapper {
}
.blog {
  /* margin: 2vw 3vw 1vw 3vw; */
  text-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 90vw;
  border-top: solid 2px grey;
}
.content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  background-color: rgb(255, 255, 255);
  width: 90vw;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: Poppins-Regular;
  margin-block-start: 0em;
  padding-top: 5vh;
}

.subTitle {
  font-size: 1.2rem;
  font-family: Poppins-Regular;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 0vh;
  /* padding-left: 3vw; */
  text-align: center;
  width: 90vw;
  text-wrap: wrap;
}

.blog p {
  font-family: Poppins-Regular;
  font-size: 1rem;
  margin-bottom: 2vh;
  text-align: left;
}

.blog p img {
  width: 100%;
  height: auto;
}

.blog p a {
  text-decoration: none;
  color: #2c9fa3;
  font-weight: 700;
}
/* 
.socialColor {
  width: 4vw;
  height: auto;
  margin-top: 1em;
  position: sticky;
} */

.drawing {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.drawing h2 {
  font-family: Poppins-Regular;
}

.drawing figure {
  margin: 0;
}

.drawing figcaption {
  font-family: Poppins-Regular;
}

.drawing img {
  width: 35vw;
}

.ctaButtons {
  width: 43vw;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px black;
}

.ctaButton {
  width: 10vw;
  height: 3.5vw;
  font-family: Poppins-Regular;
  font-size: 1rem;
  color: white;
  background-color: #3885fc;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  text-decoration: none;
}

.ctaButton :visited {
  color: white;
}
@media (max-width: 600px) {
  .coloringPage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 2rem;
    padding-top: 5vh;
  }
  .subTitle {
    font-size: 1.2rem;
  }
  .blog p {
    font-size: 1.2rem;
  }
  .content {
    width: 90vw;
  }
  .blog {
    grid-template-columns: 90vw;
  }
  .socialColor {
    display: none;
  }
  .coloringPage {
    width: 100vw;
  }

  .drawing figcaption {
    font-size: 1.2rem;
  }
  .drawing img {
    width: 90vw;
  }
  .ctaButtons {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }

  .ctaButton {
    width: 30vw;
    height: 10vw;
  }
}
