.body {
  position: relative;
  background-color: rgb(242, 242, 242);
}
.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container {
  width: 90vw;
  margin-top: 15vh;
}

.current-page {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 232, 232);
  font-family: Poppins-Regular;
  padding-top: 6px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.current-page-post {
  display: flex;
  justify-content: left;
  background-color: rgb(255, 255, 255);
  padding-left: 1vw;
  padding-top: 1vw;
  font-family: Poppins-Regular;
  align-items: center;
}

.current-page-label {
  font-family: Poppins-Regular;
}

.from-label {
  font-family: Poppins-Regular;
}

.text-bold {
  font-weight: bold;
}

.hr {
  background-color: rgb(255, 255, 255);
  color: grey;
}

.wrapper {
  background-color: #f2f2f2;
}

.headers {
  background-color: rgb(255, 255, 255);
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../assets/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../assets/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Semi-Bold;
  src: url("../assets/Poppins-SemiBold.ttf");
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
    margin-top: 0;
  }
  .current-page-post {
    justify-content: space-between;
  }
}
