.body {
  position: relative;
}
.background {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container {
  width: 90vw;
  margin-top: 15vh;
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../assets/Poppins-Bold.ttf");
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
    margin-top: 0;
  }
}
