.body {
  position: relative;
}
.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container {
  width: 90vw;
  margin-top: 15vh;
}

.current-page {
  display: flex;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  font-family: Poppins-Regular;
}

.current-page-label {
  font-family: Poppins-Regular;
  color: grey;
}

.from-label {
  font-family: Poppins-Bold;
}

.hr {
  background-color: rgb(242, 242, 242);
  color: grey;
}

.wrapper {
  background-color: rgb(242, 242, 242);
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../assets/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../assets/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Semi-Bold;
  src: url("../assets/Poppins-SemiBold.ttf");
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
    margin-top: 0;
  }
}
