.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-family: Poppins-Bold;

  padding-left: 15%;
  padding-right: 15%;
  font-size: larger;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.burgerMenu {
  display: none;
  margin: 1rem;
}

.logoMenuItems {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
}

.searchShareBtn {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.logo {
  margin: 1rem;
}

.search {
  position: relative;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shareBtn {
  position: relative;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItems {
  margin-left: 2rem;
  display: flex;
}

.menuItem {
  margin-right: 1rem;
  text-decoration: none;
}

.menuItem:visited {
  color: black;
}

.shareIconImg {
  width: 30px;
}

@media (max-width: 600px) {
  .navbar {
    width: 100%;
    padding-left: 0vw;
  }
  .menuItems {
    display: none;
  }

  .burgerMenu {
    display: block;
  }

  .burgerMenuIconImg {
    width: 10vw;
    height: 10vw;
  }

  .search {
    display: none;
  }

  .shareIconImg {
    display: none;
    width: 10vw;
    height: 10vw;
  }

  .logoImg {
    width: 40vw;
  }

  .searchShareBtn {
    margin-right: 0.5rem;
  }
}
