.socialMediaOptionsBox {
  position: absolute;
  margin-top: 7vh;
  width: 10vw;
  height: 22vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(3px 10px 4px rgba(0, 0, 0, 0.3));
}
.pinterest {
  margin-left: 10px;
  margin-top: 5px;
  width: 4vw;
  height: 4vw;
}
