.footer {
  background-color: #3885fc;

  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  column-gap: 2vw;
  margin-top: 2vh;
  padding-left: 2vw;
  padding-top: 3vh;
  color: white;
}
.title {
  font-size: 1rem;
  font-family: Poppins-Bold;
}
.passage {
  margin-top: 1vh;
  font-family: Poppins-Regular;
  font-size: 0.8rem;
}
.links {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  font-size: 0.8rem;
  font-family: Poppins-Regular;
}
.links a {
  margin-top: 0.5vh;
  text-decoration: none;
  color: white;
}
.links a:visited {
  margin-top: 0.5vh;
  text-decoration: none;
  color: white;
}

.footerBottom {
  background-color: rgba(252, 154, 10, 0.8);
}

@media (max-width: 600px) {
  .footer {
    width: 100%;
    grid-template-columns: 85vw;
    column-gap: 0vw;
    margin-top: 2vh;
    padding-left: 10vw;
    padding-right: 5vw;
    padding-top: 3vh;
    color: white;
    padding-bottom: 5vh;
  }
  .title {
    margin-top: 5vh;
  }
  .footerBottom {
    padding-left: 15vw;
  }
}
