.blogList {
  width: 90vw;
  background-color: rgb(242, 242, 242);
  display: grid;
  grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
}

@media (max-width: 600px) {
  .blogList {
    width: 100vw;
    background-color: rgb(242, 242, 242);
    display: grid;
    grid-template-columns: 100vw;
  }
}
