.blogList {
  width: 70vw;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 23vw 23vw 23vw;
  margin-top: 10vh;
}

@media (max-width: 600px) {
  .blogList {
    margin-top: 5vh;
    background-color: rgb(255, 255, 255);

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}
