.a {
  text-decoration: none;
  color: black;
}

.cardContainer {
  max-width: 16.5vw;
  margin: 0.75vw;
  text-decoration: none;
  background-color: white;
}
.cardImage {
  width: 16.5vw;
  cursor: pointer;
}
.blogName {
  text-decoration: none !important;
  font-family: Poppins-Regular;
  font-weight: 600;
  padding: 0.75vw;
  /* margin-top: 1vw;
  margin-bottom: 1vw; */
  font-size: 1.25vw;
  cursor: auto;
}

.blogName:visited {
  text-decoration: none;
  cursor: auto;
}

@media (max-width: 600px) {
  .cardContainer {
    max-width: 90vw;
    background-color: white;
    margin: 5vw;
  }
  .cardImage {
    width: 90vw;
  }
  .blogName {
    font-family: Poppins-Semi-Bold;
    margin: 3vh;
    margin-top: 3vw;
    margin-bottom: 3vh;
    font-size: 7vw;
  }
}
