.a {
  text-decoration: none;
  color: black;
}

.cardContainer {
  max-width: 20vw;
  margin: 0.75vw;
  text-decoration: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5vw;
  position: relative;
}

.cardImage {
  width: 20vw;
  cursor: pointer;
  border-radius: inherit;
}
.blogName {
  text-decoration: none !important;
  height: 100%;
  width: 100%;
  font-family: Poppins-Regular;
  font-weight: 600;
  padding: 0.75vw;
  color: white;
  font-size: 1.25vw;
  cursor: auto;
  position: absolute;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  background-image: linear-gradient(180deg, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.5));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
}
.blogName span {
  align-self: flex-end;
}

.cardContainer:hover .blogName {
  visibility: visible;
  opacity: 1;
}

.blogName:visited {
  text-decoration: none;
  cursor: auto;
}

@media (max-width: 600px) {
  .cardContainer {
    max-width: 90vw;
    background-color: white;
    margin: 5vw;
    border-radius: 5vw;
  }
  .cardImage {
    width: 90vw;
  }
  .blogName {
    font-family: Poppins-Semi-Bold;
    margin: 3vh;
    margin-top: 3vw;
    margin-bottom: 3vh;
    font-size: 7vw;
  }
}
